.customButton {
    background-color: var(--light-purple);
    border: none;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    font-family: 'poppins';
    color: white;
}