.formWrapper {
    text-align: center;
    margin-top: 6rem;
    position: relative;
    width: min(350px, 44%);
    margin: 6rem auto;
}

#searchInput {
    font-size: 1.6rem;
    border: none;
    border-radius: .10rem;
    padding: 0.3rem 1.5rem;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 467px) {

    .formWrapper {
        width: 60%;
        text-align: center;
        margin: 5rem auto;
    }

    #searchInput {
        width: 100%;
        font-size: 1.3rem;
    }
}
