.navbar {
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2.2px 4.5px 4.5px hsl(0deg 0% 0% / 0.43);
}

#navHeader {
    font-size: 2rem;
}

