html {
    --white: white;
    --background-purple: #510281;
    --light-purple: #a154d1;
    --darkblue-low-opacity: rgba(14, 11, 71, 0.3);
    --onhover-white-color: rgb(158, 155, 155);
}

.mainWrapper {
    min-height: 100vh;
    background-color: var(--background-purple);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.login {
    display: grid;
    place-content: center;
}

.contentWrapper {
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: 90%;
    margin: 4rem auto;
}

.contentContainer {
    background-color: var(--darkblue-low-opacity);
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.75rem;
    min-height: 500px;
    color: white;
}

.contentContainer h2 {
    font-weight: 500;
}

#contentContainerLeft {
    flex-basis: 60%;
}

#contentContainerRight {
    flex-basis: 40%;
}

@media screen and (max-width: 850px) {

    .contentWrapper {
        flex-direction: column;
    }

    .contentWrapper {
        width: 80%;
    }
}